<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy</title>

    <!--Icone que fica no head-->
    <link rel="icon" href="/images/logo-icon.png" />

    <!--Fontes do google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">

    <!--Css customizado-->
    <link rel="stylesheet" href="/css/main.css">

     <!--Css animações-->
     <link rel="stylesheet" href="/css/animations.css">

      <!--Css page-landing-->
    <link rel="stylesheet" href="/css/page-landing.css">
  </head>
  <body>
    <div id="page-landing"> <!-- Aperta # e escreve o id, ele cria auto. a div-->
        <div id="container"> <!--Inicio Container-->
            <header>
              <img 
              id="logo"
              class="animate-up"
              src="/images/logo.svg" 
              alt="Logomarca de Happy"
              /> <!--Alt+Z quebra a linha-->

              <div class="location animate-up"><!--Inicio da div-->
                <strong>Rio do Sul</strong>
                <p>Santa Catarina</p>
              </div> <!--Fim da div-->
            </header>
        
            <main>
                <h1 class="animate-up">Leve felicidade para o mundo</h1>
                <section class="visit"> <!--Inicio da Section-->
                    <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>
                    <a class="animate-up" href="/orphanages" title="Visite orfanatos">
                        <img src="/images/arrow.svg" alt="Ir para o mapa">
                    </a> <!--Botão de ir-->
                </section> <!--Fim da Section-->
            </main>
        </div><!--Fim Container-->
    </div> <!--Fim Page Landing--> 
  </body>
</html>
